# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [25]:
# your code here
import mysql.connector
import pandas as pd

In [16]:
cnx= mysql.connector.connect(user = 'userpt', password = 'Openplz00', host = '127.0.0.1')
cnx.is_connected()

True

In [17]:
cursor = cnx.cursor()

In [21]:
query = """SELECT rental_date, return_date, first_name, last_name
FROM sakila.rental
INNER JOIN  sakila.staff
ON rental.staff_id = staff.staff_id"""

In [22]:
cursor.execute(query)

In [23]:
result = cursor.fetchall()
result

[(datetime.datetime(2005, 5, 24, 22, 53, 30),
  datetime.datetime(2005, 5, 26, 22, 4, 30),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 24, 22, 54, 33),
  datetime.datetime(2005, 5, 28, 19, 40, 33),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 24, 23, 3, 39),
  datetime.datetime(2005, 6, 1, 22, 12, 39),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 24, 23, 5, 21),
  datetime.datetime(2005, 6, 2, 4, 33, 21),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 24, 23, 8, 7),
  datetime.datetime(2005, 5, 27, 1, 32, 7),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 0, 0, 40),
  datetime.datetime(2005, 5, 28, 0, 22, 40),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 0, 22, 55),
  datetime.datetime(2005, 5, 30, 4, 28, 55),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 0, 31, 15),
  datetime.datetime(2005, 5, 26, 2, 56, 15),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 0, 39, 22),
  datetime.datetime(2005, 6, 3, 3, 30, 22),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 1, 6, 36),
  datetime.datetime(2005, 5, 27, 0, 43, 36),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 1, 17, 24),
  datetime.datetime(2005, 5, 31, 6, 0, 24),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 2, 40, 21),
  datetime.datetime(2005, 5, 29, 6, 34, 21),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 2, 53, 2),
  datetime.datetime(2005, 5, 27, 1, 15, 2),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 3, 36, 50),
  datetime.datetime(2005, 5, 31, 0, 34, 50),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 1, 32),
  datetime.datetime(2005, 5, 30, 3, 12, 32),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 5, 17),
  datetime.datetime(2005, 5, 30, 7, 15, 17),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 6, 21),
  datetime.datetime(2005, 5, 25, 23, 55, 21),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 18, 51),
  datetime.datetime(2005, 5, 27, 3, 58, 51),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 36, 26),
  datetime.datetime(2005, 5, 29, 0, 31, 26),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 44, 31),
  datetime.datetime(2005, 5, 29, 1, 3, 31),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 4, 47, 44),
  datetime.datetime(2005, 6, 1, 0, 58, 44),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 5, 9, 4),
  datetime.datetime(2005, 5, 27, 23, 12, 4),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 5, 12, 29),
  datetime.datetime(2005, 6, 2, 0, 28, 29),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 6, 5, 20),
  datetime.datetime(2005, 5, 30, 3, 4, 20),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 6, 20, 46),
  datetime.datetime(2005, 6, 2, 5, 42, 46),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 6, 49, 10),
  datetime.datetime(2005, 5, 26, 6, 42, 10),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 8, 26, 13),
  datetime.datetime(2005, 5, 30, 10, 57, 13),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 8, 28, 11),
  datetime.datetime(2005, 5, 26, 14, 21, 11),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 8, 53, 14),
  datetime.datetime(2005, 5, 28, 14, 40, 14),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 8, 56, 42),
  datetime.datetime(2005, 6, 1, 9, 52, 42),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 8, 58, 25),
  datetime.datetime(2005, 5, 30, 14, 14, 25),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 9, 18, 52),
  datetime.datetime(2005, 5, 30, 10, 55, 52),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 9, 19, 16),
  datetime.datetime(2005, 5, 27, 4, 24, 16),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 9, 21, 29),
  datetime.datetime(2005, 6, 3, 11, 31, 29),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 9, 32, 3),
  datetime.datetime(2005, 5, 29, 14, 21, 3),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 10, 26, 39),
  datetime.datetime(2005, 5, 28, 4, 59, 39),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 11, 13, 34),
  datetime.datetime(2005, 6, 3, 12, 58, 34),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 12, 17, 46),
  datetime.datetime(2005, 6, 1, 10, 48, 46),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 12, 30, 15),
  datetime.datetime(2005, 5, 27, 15, 40, 15),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 12, 36, 30),
  datetime.datetime(2005, 5, 29, 18, 33, 30),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 13, 5, 34),
  datetime.datetime(2005, 5, 29, 16, 53, 34),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 13, 36, 12),
  datetime.datetime(2005, 5, 30, 14, 53, 12),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 14, 28, 29),
  datetime.datetime(2005, 5, 29, 14, 33, 29),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 14, 31, 25),
  datetime.datetime(2005, 6, 1, 10, 7, 25),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 14, 57, 22),
  datetime.datetime(2005, 6, 1, 18, 32, 22),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 15, 54, 16),
  datetime.datetime(2005, 6, 3, 20, 18, 16),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 16, 3, 42),
  datetime.datetime(2005, 5, 30, 14, 23, 42),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 16, 50, 20),
  datetime.datetime(2005, 5, 28, 18, 52, 20),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 16, 50, 28),
  datetime.datetime(2005, 6, 2, 22, 11, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 17, 17, 4),
  datetime.datetime(2005, 5, 31, 19, 47, 4),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 17, 22, 10),
  datetime.datetime(2005, 5, 31, 19, 47, 10),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 17, 30, 42),
  datetime.datetime(2005, 6, 3, 22, 36, 42),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 17, 46, 33),
  datetime.datetime(2005, 5, 27, 15, 20, 33),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 18, 30, 5),
  datetime.datetime(2005, 5, 30, 19, 40, 5),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 18, 45, 19),
  datetime.datetime(2005, 5, 28, 17, 18, 19),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 18, 57, 24),
  datetime.datetime(2005, 6, 2, 20, 44, 24),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 19, 12, 42),
  datetime.datetime(2005, 6, 1, 23, 10, 42),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 19, 13, 25),
  datetime.datetime(2005, 5, 29, 20, 17, 25),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 19, 27, 51),
  datetime.datetime(2005, 5, 26, 16, 23, 51),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 19, 31, 18),
  datetime.datetime(2005, 5, 31, 15, 0, 18),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 19, 41, 29),
  datetime.datetime(2005, 5, 29, 21, 31, 29),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 19, 46, 21),
  datetime.datetime(2005, 6, 2, 19, 7, 21),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 20, 26, 42),
  datetime.datetime(2005, 5, 26, 19, 41, 42),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 20, 48, 50),
  datetime.datetime(2005, 6, 2, 21, 39, 50),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 21, 7, 59),
  datetime.datetime(2005, 5, 28, 18, 51, 59),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 21, 10, 40),
  datetime.datetime(2005, 6, 2, 21, 38, 40),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 21, 19, 53),
  datetime.datetime(2005, 5, 29, 23, 34, 53),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 21, 46, 54),
  datetime.datetime(2005, 5, 31, 21, 2, 54),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 21, 48, 41),
  datetime.datetime(2005, 6, 2, 18, 28, 41),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 21, 58, 58),
  datetime.datetime(2005, 6, 3, 17, 50, 58),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 22, 2, 30),
  datetime.datetime(2005, 5, 31, 18, 6, 30),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 23, 0, 21),
  datetime.datetime(2005, 5, 29, 17, 12, 21),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 23, 34, 22),
  datetime.datetime(2005, 5, 27, 1, 10, 22),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 23, 34, 53),
  datetime.datetime(2005, 6, 2, 1, 57, 53),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 25, 23, 59, 3),
  datetime.datetime(2005, 5, 31, 2, 56, 3),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 0, 37, 28),
  datetime.datetime(2005, 5, 30, 6, 28, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 0, 41, 10),
  datetime.datetime(2005, 6, 3, 6, 5, 10),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 0, 47, 47),
  datetime.datetime(2005, 5, 27, 21, 28, 47),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 1, 15, 5),
  datetime.datetime(2005, 6, 1, 0, 3, 5),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 1, 19, 5),
  datetime.datetime(2005, 5, 27, 23, 43, 5),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 1, 34, 28),
  datetime.datetime(2005, 5, 29, 4, 0, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 1, 46, 20),
  datetime.datetime(2005, 6, 1, 5, 45, 20),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 1, 51, 48),
  datetime.datetime(2005, 5, 27, 5, 42, 48),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 2, 26, 23),
  datetime.datetime(2005, 6, 4, 6, 36, 23),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 2, 26, 49),
  datetime.datetime(2005, 5, 28, 0, 32, 49),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 2, 28, 36),
  datetime.datetime(2005, 6, 2, 3, 21, 36),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 2, 49, 11),
  datetime.datetime(2005, 5, 31, 1, 28, 11),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 2, 50, 31),
  datetime.datetime(2005, 5, 27, 3, 7, 31),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 3, 11, 12),
  datetime.datetime(2005, 6, 2, 3, 53, 12),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 4, 26, 6),
  datetime.datetime(2005, 6, 3, 10, 6, 6),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 4, 46, 23),
  datetime.datetime(2005, 6, 1, 9, 58, 23),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 5, 1, 18),
  datetime.datetime(2005, 6, 1, 9, 4, 18),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 5, 29, 49),
  datetime.datetime(2005, 5, 28, 10, 10, 49),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 5, 42, 37),
  datetime.datetime(2005, 6, 4, 0, 38, 37),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 5, 47, 12),
  datetime.datetime(2005, 5, 26, 23, 48, 12),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 6, 1, 41),
  datetime.datetime(2005, 5, 27, 6, 11, 41),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 6, 11, 28),
  datetime.datetime(2005, 6, 1, 9, 44, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 6, 14, 6),
  datetime.datetime(2005, 5, 28, 5, 33, 6),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 6, 20, 37),
  datetime.datetime(2005, 6, 2, 10, 57, 37),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 6, 55, 58),
  datetime.datetime(2005, 5, 27, 10, 54, 58),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 7, 3, 49),
  datetime.datetime(2005, 6, 4, 11, 45, 49),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 7, 11, 58),
  datetime.datetime(2005, 5, 28, 9, 6, 58),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 7, 12, 21),
  datetime.datetime(2005, 5, 31, 12, 7, 21),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 7, 27, 36),
  datetime.datetime(2005, 6, 2, 3, 52, 36),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 7, 27, 57),
  datetime.datetime(2005, 6, 3, 12, 52, 57),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 7, 30, 37),
  datetime.datetime(2005, 5, 30, 8, 11, 37),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 8, 1, 54),
  datetime.datetime(2005, 5, 27, 6, 26, 54),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 8, 10, 22),
  datetime.datetime(2005, 5, 27, 3, 55, 22),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 8, 14, 1),
  datetime.datetime(2005, 5, 27, 9, 0, 1),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 8, 33, 10),
  datetime.datetime(2005, 5, 28, 14, 9, 10),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 9, 17, 43),
  datetime.datetime(2005, 6, 3, 8, 21, 43),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 9, 41, 45),
  datetime.datetime(2005, 5, 28, 4, 40, 45),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 10, 6, 49),
  datetime.datetime(2005, 6, 1, 7, 43, 49),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 10, 14, 9),
  datetime.datetime(2005, 5, 29, 5, 57, 9),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 10, 15, 23),
  datetime.datetime(2005, 5, 30, 11, 43, 23),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 10, 18, 27),
  datetime.datetime(2005, 6, 4, 6, 59, 27),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 10, 51, 46),
  datetime.datetime(2005, 5, 30, 7, 24, 46),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 10, 54, 28),
  datetime.datetime(2005, 6, 4, 9, 39, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 11, 31, 50),
  datetime.datetime(2005, 5, 30, 15, 22, 50),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 11, 31, 59),
  datetime.datetime(2005, 5, 27, 7, 27, 59),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 11, 51, 9),
  datetime.datetime(2005, 6, 4, 9, 36, 9),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 11, 53, 49),
  datetime.datetime(2005, 5, 28, 13, 55, 49),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 12, 15, 13),
  datetime.datetime(2005, 5, 29, 18, 10, 13),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 12, 30, 22),
  datetime.datetime(2005, 5, 27, 6, 49, 22),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 12, 40, 23),
  datetime.datetime(2005, 6, 4, 7, 22, 23),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 13, 5, 8),
  datetime.datetime(2005, 6, 2, 15, 26, 8),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 13, 40, 40),
  datetime.datetime(2005, 5, 31, 11, 58, 40),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 14, 30, 24),
  datetime.datetime(2005, 5, 27, 8, 50, 24),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 14, 35, 40),
  datetime.datetime(2005, 5, 29, 17, 17, 40),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 14, 39, 53),
  datetime.datetime(2005, 6, 2, 14, 48, 53),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 14, 43, 14),
  datetime.datetime(2005, 5, 27, 12, 21, 14),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 14, 52, 15),
  datetime.datetime(2005, 5, 27, 12, 45, 15),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 15, 20, 58),
  datetime.datetime(2005, 5, 31, 15, 58, 58),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 16, 7, 38),
  datetime.datetime(2005, 6, 1, 14, 20, 38),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 16, 19, 8),
  datetime.datetime(2005, 5, 27, 14, 35, 8),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 16, 48, 51),
  datetime.datetime(2005, 6, 3, 18, 17, 51),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 17, 9, 53),
  datetime.datetime(2005, 6, 4, 22, 35, 53),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 17, 16, 7),
  datetime.datetime(2005, 6, 3, 12, 59, 7),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 17, 32, 11),
  datetime.datetime(2005, 5, 28, 22, 54, 11),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 18, 36, 58),
  datetime.datetime(2005, 5, 27, 23, 42, 58),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 19, 5, 5),
  datetime.datetime(2005, 5, 31, 19, 19, 5),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 19, 44, 54),
  datetime.datetime(2005, 6, 2, 1, 10, 54),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 20, 1, 9),
  datetime.datetime(2005, 5, 28, 15, 9, 9),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 20, 8, 33),
  datetime.datetime(2005, 5, 30, 0, 32, 33),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 20, 22, 12),
  datetime.datetime(2005, 6, 5, 0, 58, 12),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 20, 29, 57),
  datetime.datetime(2005, 5, 28, 17, 20, 57),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 21, 21, 28),
  datetime.datetime(2005, 6, 2, 0, 5, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 21, 31, 57),
  datetime.datetime(2005, 5, 28, 19, 37, 57),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 21, 48, 13),
  datetime.datetime(2005, 6, 4, 22, 24, 13),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 22, 41, 7),
  datetime.datetime(2005, 6, 2, 4, 9, 7),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 22, 51, 37),
  datetime.datetime(2005, 6, 1, 0, 2, 37),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 23, 12, 55),
  datetime.datetime(2005, 5, 29, 23, 33, 55),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 26, 23, 52, 13),
  datetime.datetime(2005, 5, 30, 18, 55, 13),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 0, 47, 35),
  datetime.datetime(2005, 6, 2, 0, 32, 35),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 0, 49, 27),
  datetime.datetime(2005, 5, 30, 3, 12, 27),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 1, 0, 4),
  datetime.datetime(2005, 5, 30, 4, 27, 4),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 1, 18, 57),
  datetime.datetime(2005, 6, 4, 4, 6, 57),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 1, 29, 31),
  datetime.datetime(2005, 6, 1, 2, 27, 31),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 2, 22, 26),
  datetime.datetime(2005, 6, 5, 0, 25, 26),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 3, 3, 7),
  datetime.datetime(2005, 5, 29, 3, 54, 7),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 3, 15, 23),
  datetime.datetime(2005, 5, 29, 22, 43, 23),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 3, 22, 30),
  datetime.datetime(2005, 6, 2, 3, 27, 30),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 4, 1, 42),
  datetime.datetime(2005, 6, 5, 8, 51, 42),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 4, 13, 41),
  datetime.datetime(2005, 5, 28, 8, 34, 41),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 4, 32, 25),
  datetime.datetime(2005, 5, 31, 9, 50, 25),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 4, 50, 56),
  datetime.datetime(2005, 6, 1, 4, 43, 56),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 5, 39, 3),
  datetime.datetime(2005, 6, 1, 11, 10, 3),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 5, 48, 19),
  datetime.datetime(2005, 5, 29, 9, 5, 19),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 6, 12, 26),
  datetime.datetime(2005, 6, 1, 6, 48, 26),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 6, 48, 33),
  datetime.datetime(2005, 5, 29, 3, 55, 33),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 6, 51, 14),
  datetime.datetime(2005, 6, 3, 1, 58, 14),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 7, 3, 28),
  datetime.datetime(2005, 5, 31, 8, 1, 28),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 7, 10, 25),
  datetime.datetime(2005, 6, 1, 8, 34, 25),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 7, 31, 20),
  datetime.datetime(2005, 6, 4, 4, 46, 20),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 8, 16, 25),
  datetime.datetime(2005, 6, 1, 11, 41, 25),
  'Mike',
  'Hillyer'),
 (datetime.datetime(2005, 5, 27, 8, 26, 30),

In [26]:
pd.DataFrame(result)

                        0                   1     2         3
0     2005-05-24 22:53:30 2005-05-26 22:04:30  Mike   Hillyer
1     2005-05-24 22:54:33 2005-05-28 19:40:33  Mike   Hillyer
2     2005-05-24 23:03:39 2005-06-01 22:12:39  Mike   Hillyer
3     2005-05-24 23:05:21 2005-06-02 04:33:21  Mike   Hillyer
4     2005-05-24 23:08:07 2005-05-27 01:32:07  Mike   Hillyer
...                   ...                 ...   ...       ...
16039 2005-08-23 22:20:26 2005-08-25 20:14:26   Jon  Stephens
16040 2005-08-23 22:21:03 2005-08-31 03:09:03   Jon  Stephens
16041 2005-08-23 22:26:47 2005-08-27 18:02:47   Jon  Stephens
16042 2005-08-23 22:42:48 2005-08-25 02:48:48   Jon  Stephens
16043 2005-08-23 22:50:12 2005-08-30 01:01:12   Jon  Stephens

[16044 rows x 4 columns]

# Challenge 1 - Working with JSON files
Import the pandas library.

In [27]:
# your code here
## already did

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [44]:
# your code here
nasa=pd.read_json('nasa.json', orient='values')
nasa=nasa[['fall',
       'geolocation', 'id', 'mass', 'name', 'nametype', 'recclass', 'reclat',
       'reclong', 'year']]
nasa

,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...
995,Fell,"{'type': 'Point', 'coordinates': [79.41667, 13...",24009,230.0,Tirupati,Valid,H6,13.63333,79.41667,1934-01-01T00:00:00.000
996,Fell,"{'type': 'Point', 'coordinates': [-7.61123, 29...",54823,7000.0,Tissint,Valid,Martian (shergottite),29.48195,-7.61123,2011-01-01T00:00:00.000
997,Fell,"{'type': 'Point', 'coordinates': [111.53333, -...",24011,20000.0,Tjabe,Valid,H6,-7.08333,111.53333,1869-01-01T00:00:00.000
998,Fell,"{'type': 'Point', 'coordinates': [106.58333, -...",24012,16500.0,Tjerebon,Valid,L5,-6.66667,106.58333,1922-01-01T00:00:00.000
999,Fell,"{'type': 'Point', 'coordinates': [34.76667, 47...",24019,600.0,Tomakovka,Valid,LL6,47.85000,34.76667,1905-01-01T00:00:00.000

Now that we have loaded the data, let's examine it using the head() function.

In [45]:
# your code here
nasa.head()

,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [46]:
# your code here
nasa['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [47]:
# your code here
nasa.to_json('nasa-output.json', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [1]:
#Your pandas import here:

In [49]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [54]:
# Your code here:
shuttle=pd.read_csv(tst_url, sep=' ',names=cols)
shuttle

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1
...,...,...,...,...,...,...,...,...,...
80,0,84,0,-36,-29,4,120,116,5
55,0,81,0,-20,25,26,102,76,4
55,0,77,0,12,-22,22,65,42,4
37,0,103,0,18,-16,66,85,20,1
56,2,98,0,52,1,42,46,4,4

Let's verify that this worked by looking at the `head()` function.

In [55]:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [56]:
# Your code here:
shuttle.to_csv('shuttle.csv',sep=',', index=False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [58]:
# Your code here:
astronaut=pd.read_excel('astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [59]:
# Your code here:
astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [62]:
# Your code here:

astronaut['Undergraduate Major'].value_counts()

Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Astronomy                                 1
Marine Engineering & Nautical Science     1
Philosophy                                1
Bioscience                                1
Military Science                          1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [63]:
# Your code here:
astronaut.to_csv('astronaut.csv', sep=',', index=False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [15]:
# Your code here: